{{#ratchet-popover title=title}}
	<ul class="table-view">
		{{#each barWeight in barWeights}}
		<li class="table-view-cell">
			<a {{action "setBarWeight" barWeight}} href="#">
				{{barWeight}} {{unit}}
			</a>
		</li>
		{{/each}}
	</ul>
{{/ratchet-popover}}
{{ratchet-backdrop close="closePopover"}}