{{#ratchet-popover title=title}}
	<ul class="table-view">
		{{#each value in values}}
		<li class="table-view-cell">
			<a {{action "set" value}} href="#">
				{{value}}{{valueSuffix}}
			</a>
		</li>
		{{/each}}
	</ul>
{{/ratchet-popover}}
{{ratchet-backdrop close="closePopover"}}