{{#ratchet-popover title=title}}
	<ul class="table-view">
		{{#each percentage in percentages}}
		<li class="table-view-cell">
			<a {{action "setPercentage" percentage}} href="#">
				{{percentage}}%
			</a>
		</li>
		{{/each}}
	</ul>
{{/ratchet-popover}}
{{ratchet-backdrop close="closePopover"}}