<header class="bar bar-nav">
	<h1 class="title">Barbell</h1>
</header>
<div class="content">
	{{outlet}}
</div>
<footer class="bar bar-standard bar-footer">
	{{#ratchet-button type="primary" block=true on-click="rest"}}
		Rest
	{{/ratchet-button}}
</footer>
{{outlet "modal"}}
