<nav class="bar bar-standard">
	<div class="segmented-control">
		{{#link-to "settings.plates" classNames="control-item"}}
			Plates
		{{/link-to}}
		{{#link-to "settings.percentages" classNames="control-item"}}
			Percentages
		{{/link-to}}
		{{#link-to "settings.barWeights" classNames="control-item"}}
			Bar Weights
		{{/link-to}}
		{{#link-to "settings.units" classNames="control-item"}}
			Units
		{{/link-to}}
	</div>
</nav>
{{outlet}}